<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    {{ $styles := resources.Get "sass/main.scss" | resources.ToCSS }}
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Questrial|Inconsolata:400,700" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
    {{ if .Params.vega }}
    <script src="https://cdn.jsdelivr.net/npm/vega@5.10.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.11.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.6.0"></script>
    {{ end }}
  </head>
  <body>
    <div class="page-content">
      <div class="wrapper">
        {{ block "content" . }}{{end}}
      </div>
    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="float-left">
          <a href="{{ $.Site.BaseURL }}/" class="tooltips title-font">
            Nic West
            <span>home</span>
          </a>
        </div>
        <div class="float-right">
          <a href="#" class="tooltips">
            <i class="fas fa-map-marker-alt"></i>
            <span>London</span>
          </a>
          <a href="#" class="tooltips">
            <i class="fas fa-code"></i>
            <span>python<br />go<br />vimscript<br />(clojure)</span>
          </a>
          <a href="https://www.unmortgage.com" class="tooltips" target="_blank">
            <i class="fas fa-briefcase"></i>
            <span>lead&nbsp;backend&nbsp;developer<br />@unmortgage</span>
          </a>
          |
          {{ with .OutputFormats.Get "RSS" }}
          <a href="{{ .RelPermalink }}" class="tooltips">
            <i class="fas fa-rss"></i>
            <span>feed</span>
          </a>
          {{ end }}
          <a href="https://twitter.com/west_nic" class="tooltips" target="_blank">
            <i class="fab fa-twitter"></i>
            <span>@west_nic</span>
          </a>
          <a href="https://github.com/nicwest" class="tooltips" target="_blank">
            <i class="fab fa-github"></i>
            <span>github</span>
          </a>
        </div>
        <div class="clear-both"></div>
      </div>
    </footer>
    <script src="/js/main.js"></script>
    {{ range .Params.js }}
    <script src="/js/{{.}}"></script>
    {{ end }}
    <script>
      (function() {
        window.counter = 'https://nicwest_com.goatcounter.com/count'

        var script = document.createElement('script');
        script.async = 1;
        script.src = '//gc.zgo.at/count.js';
        var ins = document.getElementsByTagName('script')[0];
        ins.parentNode.insertBefore(script, ins)
      })();
    </script>
  </body>
</html>
