<footer class="site-footer">


<div class="container">
  <div class="float-left">
    <a href="{{ $.Site.BaseURL }}/" class="tooltips title-font">
      Nic West
      <span>home</span>
    </a>
  </div>
  <div class="float-right">
    <a href="#" class="tooltips">
      <i class="fas fa-map-marker-alt"></i>
      <span>London</span>
    </a>
    <a href="#" class="tooltips">
      <i class="fas fa-code"></i>
      <span>python<br />go<br />vimscript<br />(clojure)</span>
    </a>
    <a href="http://ingresso.co.uk" class="tooltips" target="_blank">
      <i class="fas fa-briefcase"></i>
      <span>software&nbsp;engineer<br />@ingresso</span>
    </a>
    |
    <a href="{{ .RSSLink }}" class="tooltips">
      <i class="fas fa-rss"></i>
      <span>feed</span>
    </a>
    <a href="https://twitter.com/west_nic" class="tooltips" target="_blank">
      <i class="fab fa-twitter"></i>
      <span>@west_nic</span>
    </a>
    <a href="https://github.com/nicwest" class="tooltips" target="_blank">
      <i class="fab fa-github"></i>
      <span>github</span>
    </a>
  </div>
  <div class="clear-both"></div>
</div>
</footer>
